@import "variables.less";

footer {
  margin-top: 67px;
  height: 238px;
  position: relative;

  .container {
    position: relative;
    &:before {
      content: "";
      height: 0;
      display: block;
      border-bottom: 13px solid @navbar-bg;
      position: absolute;
      top: -12px;
      left: 0;
      right: 0;
    }
  }
  .home-slide {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    .col-xs-6 {
      height: 238px;
    }
  }
  .footer-black-wrapper {
    position: relative;
    top: 13px;
    background: @navbar-bg;
  }
  .navbar-brand {
    padding: 0;
    width: 141px;
    height: auto;
    margin: 24px 45px 0 0;
  }
  .collapse.navbar-collapse {
    .nav.navbar-nav {
      width: 100%;
    }
    li {
      padding-left: 2.75%;
      padding-right: 2.75%;
      a {
        padding-left: 0;
        padding-right: 0;
        text-align: center;
        color: #9d9d9d;
        font-size: 16px;
        &:hover {
          background: none;
        }
      }
    }
    .social {
      padding: 11px 0 0 0;
      img {
        width: 23px;
        height: 23px;
        margin: 0 15px;
      }
    }
  }
  .mail-icon {
    width: 20px;
    margin-right: 16px;
  }
  .email {
    margin-top: 8px;
    font-size: 14px;
    color: #9d9d9d;
    float: right;
  }
  .copyright {
    margin-top: 64px;
    color: #2a323c;
    text-align: center;
    line-height: 35px;
    background: #141c26;
  }
}

@media (max-width: @screen-xs-max) {
  footer {
    .navbar-brand {
      width: 100%;
      display: block;
      margin: 0;
      img {
        margin: 0 auto;
        width: 83px;
      }
    }
    .collapse {
      display: block;
    }
    .collapse.navbar-collapse {
      padding-top: 64px;
    }
  }
}

@media (min-width: @screen-sm-min) {
  footer {
    .navbar-brand {
      margin: 24px 45px 0 0;
    }
    .collapse.navbar-collapse {
      width: calc(~"100% - 141px - 45px");
      float: left;
      margin-top: 29px;
      border-bottom: 1px solid #212933;
      padding-left: 0;
      padding-bottom: 20px;
    }
  }
}


@media (max-width: 1400px){
  .container {
      width: 100%;
  }
}

@media (min-width: 1400px) {
  footer {
    .container {
      &:before {
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        left: -20px;
        right: -20px;
      }
    }

  }
}