@import "variables.less";


.navbar-default {
	.home-slide {
		height: 204px;
    position: absolute;
    display: block;
    width: 100%;
    z-index: 0;
    .col-xs-6 {
    	height: 204px;
    }
	}
}

.home-slide {
	.pink {
		background: linear-gradient(to right, #fce5fd, #fff);
	}
	.blue {
		background: linear-gradient(to left, #c3f7f8, #fff);
	}
}

.home-slide-image-content {
	.col-xs-6 {
    height: 630px;
  }
  .col-xs-6:first-child {
  	border-image:
      linear-gradient(to top, #e0e0e0, #fff) 1 100%;
    border-style: solid;
    border-width: 0 .5px 0 0;
  }
  .col-xs-6:second-child {
    border-image:
      linear-gradient(to top, #e0e0e0, #fff) 1 100%;
    border-style: solid;
    border-width: 0 0 0 .5px;
  }
  .pink, .blue {
		padding-left: 0;
  	padding-right: 0;
  	.image-wrap {
  		height: 630px;
  		background-repeat: no-repeat;
	  	background-position-y: 67px;
  	}
  }

  .description {
  	position: absolute;
  	height: 37px;
  	z-index: 10;
  	bottom: 13px;
  	background: @navbar-bg;
  	color: #fff;
  	width: 100%;
  	.text-description {
  		content: "";
  		height: 0;
	  	position: relative;
	  	display: block;
	  	height: 37px;
	  	&:after {
        content: "";
        height: 0;
        display: block;
        border-top: 13px solid @navbar-bg;
        position: absolute;
        bottom: -12px;
      }
	  }
  }
  .pink {
  	.image-wrap {
	  	background-image: url('../img/graph-home-left.png');
	  }
	  .description {
	  	.text-description {
	  		&:after {
          border-left: 20px solid transparent;
          left: -20px;
          right: 0;
        }
	  	}
	  }
  }

  .blue {
  	.image-wrap {
	  	background-image: url('../img/graph-home-right.png');
	  }
	  .description {
	  	.text-description {
	  		&:after {
          border-right: 20px solid transparent;
          left: 0;
          right: -20px;
        }
	  	}
	  }
  }


}
